navigation-bar {
  @include bar-container;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: $red;
  color: white;
  transition: top 1s;
  z-index: 99;

  &.dissapear {
    top: -100%;
  }

  .nav-brand {
    align-self: flex-start;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    background: $red;
    transition: right 1s;

    &.active {
      right: 0;
    }

    a {
      display: inline-block;
      width: 100%;
      padding: 1rem;
      color: white;
      text-align: center;

      &:hover {
        background: white;
        color: $red;
      }
    }
  }

  @media (min-width: 560px) {
    .nav-brand {
      align-self: center;
    }

    #navlist-drawer {
      display: none;
    }

    .nav-list {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  img, picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.6);
  }

  h1 {
    font-size: 2.2rem;
    color: $yellow;
  }

  p {
    max-width: 85%;
    margin-bottom: 1.2rem;
    font-size: 0.8rem;
    text-align: center;
    color: white;
  }

  a {
    display: inline-block;
    background: $red;
    color: white;
    padding: 0.5rem 2rem;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      background: white;
      color: $red;
    }
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
